<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import UserTypePage from "./components/UserTypePage";
import { eventBus } from "./main";

export default {
  name: "app",
  data() {
    return {
      language: ""
    };
  },
  components: {
    UserTypePage
  },

  beforeMount() {
    eventBus.$emit("langNlActive", this.dutchActive);
    localStorage.language = "nl";
    localStorage.englishActive = false;
    localStorage.dutchActive = true;
  }
};
</script>

<style>
:root {
  --main-purple-color: #3a225d;
  --second-purple-color: #2f1c50;
  --red-color: #e1524a;
  --pink-color: #c83760;
  --yellow-color: #f6d365;
  --white-color: #ffffff;
  --second-white-color: #f9f8fa;
  --black-color: #000000;
  --dark-blue-color: #151522;
  --error-color: #c83737;
  --success-color: #37c88b;
  --grey-color: #e2dee9;
  --grey-blue-color: #9891a4;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  src: url("/src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Nunito Sans Black"), local("NunitoSans-Black"),
    url("/src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("/src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.svg#NunitoSans")
      format("svg"); /* Legacy iOS */
}

/* Text styles */

h1 {
  font-family: "Nunito Sans" !important;
  font-size: 2.75rem !important;
  font-weight: 700 !important;
  line-height: 3.5rem !important;
  color: var(--dark-blue-color) !important;
}

h2 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 2.25rem !important;
  font-weight: 700 !important;
  line-height: 3.125rem !important;
  color: var(--dark-blue-color) !important;
}

.odk-title {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 2rem !important;
  color: var(--dark-blue-color) !important;
}

.body-1 {
  margin-top: 1rem !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5rem !important;
  color: var(--dark-blue-color) !important;
}

.caption-1 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  line-height: 1.125rem !important;
  color: var(--dark-blue-color) !important;
}

/*  */

html,
body {
  background: var(--grey-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons styles */

#yellow-button,
#transparent-button {
  width: 100%;
  height: 100%;
  max-width: 20rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px;
  white-space: nowrap;
}

#yellow-button {
  background: var(--yellow-color);
  color: var(--second-purple-color);
  border: 2px solid var(--yellow-color);
}

#yellow-button:hover {
  background: rgba(246, 211, 101, 0.7);
  border: 2px solid transparent;
  cursor: pointer;
}

#yellow-button:disabled {
  background: #edebf2;
  color: #b8b1c3;
}

#transparent-button {
  background: transparent;
  color: var(--second-purple-color);
  border: 2px solid var(--second-purple-color);
  margin-top: 1rem;
}

#transparent-button:hover {
  background: rgba(105, 89, 133, 0.6);
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

/*  */

/* .has-text-success {
  color:var(--main-purple-color) !important;
} */
</style>
