<template>
  <div id="page">
    <div id="text-section">
      <p class="body-1">Je bent een {{ userType }} en je hebt gekozen voor {{ model }}</p>
      <div class="button-section">
        <button @click="perviousPhotos()" id="yellow-button">Vorige</button>
        <button @click="nextPhoto()" id="yellow-button">Volgende</button>
        <button @click="exitLabeling()" id="transparent-button">Opslaan</button>
      </div>
    </div>
    <div id="annotate-section">
      <div id="photo-section">
        <img v-if="photos" :src="photo" />
      </div>
      <div id="info-section">
        <div id="annotate-info">
          <p class="body-1">Annotated: {{ annotated }}</p>
          <p class="body-1">Total objects: 6</p>
        </div>
        <div id="objects-info">
          <div class="object">
            <p class="body-1">Garbage Bag</p>
            <p class="body-1">3</p>
          </div>
          <div class="object">
            <p class="body-1">Cardboard</p>
            <p class="body-1">2</p>
          </div>
          <div class="object">
            <p class="body-1">Small container</p>
            <p class="body-1">1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../main";

export default {
  name: "annotate-page",
  data() {
    return {
      apiWebsocketUrl: "ws://localhost:8090",
      websocketConnection: null,
      websocketStreamState: null,
      streamState: {
        ON: "on",
        OFF: "off"
      },
      userType: null,
      model: null,
      photos: null,
      photo: null,
      annotated: 0
    };
  },

  // ----

  methods: {
    setup() {
      this.userType = localStorage.userType;
      this.model = localStorage.model;

      this.setupWebSockets();

      setTimeout(() => {
        this.getPhotos();
      }, 500);
    },

    // ----

    setupWebSockets() {
      //Setup connection with Websocket server URL:PORT/ENDPOINT
      let websocketUrl = this.apiWebsocketUrl + "/annotate";
      this.websocketConnection = new WebSocket(websocketUrl);
      this.websocketConnection.onmessage = this.receiveWebSocketsMsg;
    },

    // ----

    receiveWebSocketsMsg(e) {
      //Websocket event when Message sent by the server
      if (e.data.includes('"images"')) {
        let dat = JSON.parse(e.data);
        this.addPhotos(dat);
      } else {
        console.log(e.data);
      }
    },

    // ----

    addPhotos(dat) {
      let list = [];
      dat.images.forEach(photo => {
        list.push("data:image/png;base64," + atob(btoa(photo)));
      });

      this.photos = list;

      this.showOnePhoto();
    },

    // ----

    showOnePhoto() {
      this.photo = null;
      this.photo = this.photos[0];
    },

    // ----

    nextPhoto() {
      this.annotated += 1;

      this.photos.shift();

      this.showOnePhoto();

      if (this.photos.length < 2) {
        this.getPhotos();
      }
    },

    // ----

    getPhotos() {
      let getPhotos = {
        request: "getPhotos request"
      };

      this.websocketConnection.send(JSON.stringify(getPhotos));
    },

    // ----

    exitLabeling() {
      this.websocketConnection.close();
      this.$router.push("/models");
    }
  },

  // ----

  beforeMount() {
    eventBus.$on("langEnActive", englishActive => {
      if (localStorage.englishActive) {
        localStorage.language = "en";
      }
    });
    eventBus.$on("langNlActive", dutchActive => {
      if (localStorage.dutchActive) {
        localStorage.language = "nl";
      }
    });

    // init
    this.setup();
  }
};
</script>

<style scoped>
#page {
  flex-direction: column;
}

#text-section {
  width: 80%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#text-section p {
  margin: 0 !important;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-section button {
  margin-right: 1rem;
}

.button-section button:last-of-type {
  margin: 0 !important;
}

#annotate-section {
  width: 80%;
  height: 70%;
  display: flex;
}

#photo-section {
  width: 80%;
  height: 100%;
  background: var(--grey-blue-color);
}

#info-section {
  width: 20%;
  height: 100%;
  background: var(--white-color);
  display: flex;
  flex-direction: column;
}

#annotate-info {
  width: 100%;
}

#objects-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.object {
  width: 100%;
  padding: 1rem;
  background: rgba(58, 34, 93, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.object p {
  color: rgba(255, 255, 255, 0.75) !important;
  margin: 0 !important;
}
</style>