<template>
  <div id="page">
    <div id="text-section">
      <h2>Kies uw model</h2>
    </div>
    <div id="models-section">
      <b-collapse
        class="card"
        v-for="(model, index) of models"
        :key="index"
        :open="isOpen == index"
        @open="isOpen = index"
      >
        <div slot="trigger" slot-scope="props" class="card-header" role="button">
          <p class="card-header-title">{{ model.name }}</p>
          <div @click="openModel(model.model)" class="card-header-icon">
            <b-icon icon="play"></b-icon>
            <!-- type="is-success" -->
          </div>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'minus' : 'plus'"></b-icon>
          </a>
        </div>
        <div class="card-content">
          <div class="content">{{ model.description }}</div>
        </div>
      </b-collapse>
    </div>
  </div>
</template>

<script>
import { AllModels } from "../utils/utils";
import { eventBus } from "../main";

export default {
  name: "models-page",
  data() {
    return {
      userType: null,
      models: null,
      modelsEn: null,
      modelsNl: null,
      isOpen: null
    };
  },

  // ----

  methods: {
    setup() {
      if (!localStorage.userType) {
        this.$router.push("/");
      }

      this.modelsEn = AllModels.i18n.messages.en.models;
      this.modelsNl = AllModels.i18n.messages.nl.models;

      if (localStorage.dutchActive && localStorage.language == "nl") {
        this.models = this.modelsNl;
      } else if (localStorage.englishActive && localStorage.language == "en") {
        this.models = this.modelsEn;
      } else {
        this.models = this.modelsNl;
      }
    },

    // ----

    openModel(modelName) {
      this.$router.push("/annotate");
      localStorage.model = modelName;
    }
  },

  // ----

  beforeMount() {
    eventBus.$on("langEnActive", englishActive => {
      if (localStorage.englishActive) {
        localStorage.language = "en";
        this.models = this.modelsEn;
      }
    });
    eventBus.$on("langNlActive", dutchActive => {
      if (localStorage.dutchActive) {
        localStorage.language = "nl";
        this.models = this.modelsNl;
      }
    });

    // init
    this.setup();
  }
};
</script>

<style scoped>
#page {
  flex-direction: column;
}

#text-section {
  margin-bottom: 1rem;
}

#models-section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 100%;
  max-width: 40rem;
  margin-bottom: 1rem;
  background: var(--second-white-color);
  box-shadow: none;
}

.card-header {
  box-shadow: none;
}

.card-header-title {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  color: var(--dark-blue-color);
  padding: 12px 0 12px 22px;
}

.card-header-icon {
  align-items: flex-start;
  color: var(--black-color);
  padding: 12px 22px 12px 12px;
}

.card-content {
  padding: 0 22px 12px 22px;
  text-align: left;
}

.content {
  font-family: "Open Sans", sans-serif !important;
  color: rgba(21, 21, 34, 0.6);
}
</style>