<template>
  <div id="page">
    <div id="text-section">
      <h1>ODK Labeling Tool</h1>
      <p class="odk-title">Ik ben een</p>
      <button @click="loginServant()" id="yellow-button">Ambtenaar</button>
      <button @click="loginUser()" id="transparent-button">Anders</button>
    </div>
    <div id="photo-section">
      <img src="../assets/artwork-desktop.png" id="labeling-tool-image" />
    </div>
  </div>
</template>

<script>
export default {
  name: "home-page",
  data() {
    return {
      userType: null
    };
  },

  methods: {
    setup() {
      if (localStorage.model) {
        localStorage.model = null;
      }

      if (localStorage.userType) {
        this.$router.push("/models");
      }
    },

    // ----

    loginServant() {
      this.userType = "servant";
      localStorage.userType = this.userType;
      console.log("u are a " + this.userType);
      this.$router.push("/models");
    },

    // ----

    loginUser() {
      this.userType = "user";
      localStorage.userType = this.userType;
      console.log("u are a " + this.userType);
      this.$router.push("/models");
    }
  },

  mounted() {
    this.setup();
  }
};
</script>

<style scoped>
#page {
  flex-direction: row;
}

#text-section,
#photo-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#text-section {
  align-items: center;
}

#yellow-button,
#transparent-button {
  height: initial !important;
  }

#photo-section {
  align-items: flex-start;
}

#labeling-tool-image {
  width: 80%;
  object-fit: contain;
}
</style>